# Frontend
finance-frontend/node_modules/
finance-frontend/dist/

# Backend
server/node_modules/
server/.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temp
.tmp/
.cache/# Frontend
finance-frontend/node_modules/
finance-frontend/dist/

# Backend
server/node_modules/
server/.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temp
.tmp/
.cache/